body { 
    margin: 0; 
    background: #666; 
    color: #ddd;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}



canvas { display: block; }

.control {
    display: inline-block;
    margin: 10px;
}

.header, .footer {
    position: fixed;
    width: 100%;
    background-color: #222;
    /* padding: 10px; */
    box-sizing: border-box;
    z-index: 1000;
}

.header { 
    background-color: #000000;
    top: 0; 
}

.header h1 { 
    color: #000;
    text-shadow: 0px 0px 2px #ccc;
    font-weight: normal; 
    font-size: 36px;
    margin: 10px 0 0 1em;
}

.footer { 
    background-color: #222;
    bottom: 0; 
    text-align: center; 
    padding: 0 0 .5em 0;
}

.footer #nodeNumber {
    color: #444;
    font-weight: bold;
    font-size: 48px;
    line-height: .8em;
    margin: 0px;
    letter-spacing: .2em;
}

.control {
    margin-top: 10px;
}


/* Styling for text overlay */
#text-overlay {
    position: fixed;
    top: 0%;
    left: 30%;
    transform: translate(-20%, 0%);
    margin-top: 65px;
    padding: 10px;
    background-color: #333;
    opacity: 0.7;
    border-radius: 5px;
    color: white;
    display: none; /* Initially hidden */
}

#text-overlay h2{
    font-weight: bold; 
    font-size: 14px;
    color: #999;
    margin: 0 0 1em 0;
}

#text-overlay .shortdesc {
    font-size: 16px;
    line-height: 1.5em;
    margin: 0;
}

#text-overlay .longdesc {
    display: none;
}


/* Adjustments for touch-friendly controls */
.control input[type="range"] {
    width: 90%; /* Increase the width of the range inputs */
    height: 40px; /* Increase the height of the range inputs */
}

.control label {
    font-size: 18px; /* Increase the font size of the labels */
    display: block; /* Ensure the labels are on their own line */
}



/* Media query for small mobile devices */
@media (max-width: 767px) {
    /* Double the size of everything except the cube */

    /* Double the font size */
    body {
        font-size: 200%;
    }

    /* Double the size of controls */
    .control input[type="range"] {
        width: 180%; /* Increase the width */
        height: 80px; /* Increase the height */
        padding: 10px; /* Increase padding */
        margin-bottom: 40px; /* Increase margin */
    }

    .control label {
        font-size: 36px; /* Increase the font size */
    }
}