body { 
    margin: 0; 
    background: #000; 
    color: #ddd;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#container{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

canvas { display: block; }


a {
    color: #fff;
    text-decoration: none;
}

.header, .footer {
    background-color: none;
    /* padding-right: 40px; */
    position: fixed;
    width: 100%;
    box-sizing: border-box;
    z-index: 1000;
}


.header {
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header h1{
    font-weight: normal; 
    font-size: 8vw; 
    margin: .1em 0 .1em .2em;
    max-width: 40vw;
    min-width: 9.2em;
}
.header h1,
.header h1 a { 
    color: #222;
	-webkit-text-stroke: 2px #666;
}
.header h1 a:hover { 
	-webkit-text-stroke: 2px #ccc;
    color: #000;

}

.header nav {
    float: right;
    padding-right: 4vw;
}

.header nav a#info {
    display: inline-block;
    color: #666;
    text-decoration: none;
    font-size: 6vw; 
    font-weight: bold;
    line-height: 1; 
    padding: 0;
    margin: 0;
    border-radius: 50%; 
    background-color: #222; 
    transition: background-color 0.3s ease; 
}

.header nav a#info:hover {
    background-color: #000; 
    color: #ddd;
}


.footer { 
    bottom: 0; 
    text-align: center; 
    margin: 0;
    padding: 1vh 1vw;
}

#content{
    background: #222;
    color: #ddd;
    margin: 12% 5%;
    padding: 0 1em;
    border: 1px solid #666;
    border-radius: 5px;
    line-height: 1.5rem;
    max-height: 80vh;
    overflow: scroll;
}

#content h2{
    font-weight: normal;
    font-size: 1.8em;
}

#content p{
    line-height: 1.5rem;
}

#nodeNumber {
    position: fixed;
    top: 2%;
    right: 25%;
    opacity: 0.3;
    color: #ccc;
    font-weight: bold;
    font-size: 10vw; 
    line-height: .8em;
    margin: 0px;
    letter-spacing: .1em;
}

.control {
    display: inline-block;
    margin: 1vw;
    width: 28vw;
}

.control input{
    width: 96%;
}
.control label{
    display: block;
    color: #666;
    font-size: 4vw ; 
    margin-top: 0px;
}


/* Styling for text overlay */
#text-overlay {
    position: fixed;
    top: 0%;
    left: 5%;
    right: 5%;
    /* transform: translate(-10%, 0%); */

    margin-top: clamp(6vh, (calc(50px + 6vw)), 60vh);

    padding: 10px;
    background-color: #333;
    opacity: 0.8;
    border-radius: 5px;
    color: white;
    display: none; /* Initially hidden */
    max-height: 55vh; /* Set a maximum height for the popover */
    overflow-y: scroll; 
}

#text-overlay h2{
    font-weight: bold; 
    /* font-size: .6em; */
    font-size: clamp(.8em, .6em + .6vw, 1.8em);
    color: #999;
    margin: 0 0 1em 0;
}

#text-overlay .shortdesc {
    /* font-size: calc(32px - 1vw); */
    /* font-size: clamp(1em, (calc(32px - 1vw)), 3rem) */
    font-size: clamp(1.2em, 2.5em - 2vw, 1.4em);

    line-height: 1.4em;
    margin: 0;
}

#text-overlay .longdesc {
    display: none;
}





/*** Control Style Experiements ***/

  input {
    --c: orange; /* active color */
    --ct: rgba(255, 0, 0, 0.428); /*transparent version of color
    --g: 8px; /* the gap */
    --l: 10px; /* line thickness*/
    --s: 20px; /* thumb size*/
    
    /* width: 400px; */
    height: var(--s); /* needed for Firefox*/
    -webkit-appearance :none;
    -moz-appearance :none;
    appearance :none;
    background: none;
    cursor: pointer;
    overflow: hidden;
  }
  
  /* chromium */
  input[type="range" i]::-webkit-slider-thumb{
    height: var(--s);
    aspect-ratio: 1;
    border-radius: 50%;
    box-shadow: 0 0 0 var(--l) inset var(--c);
    -webkit-appearance: none;
    appearance: none;
    border-image: linear-gradient(90deg,var(--ct) 50%,#ababab2e 0) 1/0 100vw/0 calc(100vw + var(--g));

  }
  /* Firefox */
  input[type="range"]::-moz-range-thumb {
    height: var(--s);
    width: var(--s);
    background: none;
    border-radius: 50%;
    box-shadow: 0 0 0 var(--l) inset var(--c);
    -moz-appearance: none;
    appearance: none;
    border-image: linear-gradient(90deg,var(--ct) 50%,#ababab22 0) 1/0 100vw/0 calc(100vw + var(--g));

  }
  
  
input#x{
    --c: rgba(3, 185, 195); --l: 6px; --g:12px;
    --ct: rgba(3, 185, 195, 0.3);
}
input#y{
    --c: rgba(87, 204, 3); --l: 6px; --g:12px;
    --ct: rgba(87, 204, 3, 0.3); 
}
input#z{
    --c: rgba(204, 2, 96); --l: 6px; --g:12px;
    --ct: rgba(204, 2, 96, 0.3);
}



@media (max-width: 768px) {

    .control {
      display: block;
      width: 90%;
      margin: 12px auto; 
    }

    .control label {
        /* display: none !important; */
        z-index: -1;
        margin-bottom: -26px;
        margin-left: 36px;
        text-align: left;
    }
    .control input{
        z-index: 9000;
    }
 

  }


